---
import IconAmplification from "../assets/images/svg/icon_amplification.svg";
import IconContent from "../assets/images/svg/icon_content.svg";
import IconEarnedMedia from "../assets/images/svg/icon_earned_media.svg";
import IconPartnership from "../assets/images/svg/icon_partnerships.svg";
import IconStrategy from "../assets/images/svg/icon_strategy.svg";

const { id, title, category, year, url, alt, format } = Astro.props;
---

<li>
  <figure class="content-slot" data-type={category}>
    <button light-box>
      <div class="case-study__asset">
        {
          format === "mp4" || format === "webm" ? (
            <video src={url} autoplay loop muted playsinline />
          ) : (
            <img src={url} alt={alt} />
          )
        }
      </div>
      <figcaption>
        <span class="content-title">{title}</span>
        <span class="content-category">{category}</span>
        <span class="content-icon">
          {
            category === "strategy" && (
              <IconStrategy width="1em" height="1em" fill="currentColor" />
            )
          }
          {
            category === "partnership" && (
              <IconPartnership width="1em" height="1em" fill="currentColor" />
            )
          }
          {
            category === "amplification" && (
              <IconAmplification width="1em" height="1em" fill="currentColor" />
            )
          }
          {
            category === "content-creation" && (
              <IconContent width="1em" height="1em" fill="currentColor" />
            )
          }
          {
            category === "earned-media" && (
              <IconEarnedMedia width="1em" height="1em" fill="currentColor" />
            )
          }
        </span>
        <span class="content-year">{year}</span>
      </figcaption>
    </button>
  </figure>
</li>
