---
const { id, title, category, year, url, alt, format } = Astro.props;
---

<li>
  <figure class="content-slot" data-type={category}>
    <button light-box>
      <div class="case-study__asset">
        {
          format === "mp4" || format === "webm" ? (
            <video src={url} autoplay loop muted playsinline />
          ) : (
            <img src={url} alt={alt} />
          )
        }
      </div>
      <figcaption>
        <span class="content-title">{title}</span>
        <span class="content-category">{category}</span>
        <span class="content-icon">
          <slot name="icon" />
        </span>
        <span class="content-year">{year}</span>
      </figcaption>
    </button>
  </figure>
</li>
